:root {
    --jungle-green: #49A078FF;
    --ivory: #FFFDEDFF;
    --rosy-brown: #B38D97FF;
    --ultra-violet: #4F4789FF;
    --dark-purple: #201335FF;
  }
  
  .NavDropdown:hover{
    color: var(--rosy-brown);
  }

  .navbar{
    background-color: var(--dark-purple);
    color: var(--ivory);
    width: 100%;
  }

  
.nav-link{
    color: var(--ivory);
    margin: 0 10px;
  }
  .nav-link:hover{
    color: var(--rosy-brown);
  }
  
  .navbar-brand{
    color: var(--ivory);
    margin: 0 10px;
  }
  .profileIcon{
    margin-left: 2000%;
  }